<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="coursework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs;libs/dll"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\database.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <userSettings>
    <coursework.Properties.Settings>
      <setting name="firstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="progress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="resizeToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="statToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pcToggle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lowToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="monitorToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="updatesToggle" serializeAs="String">
        <value>True</value>
      </setting>
    </coursework.Properties.Settings>
  </userSettings>
</configuration>